{{ _mongos.log_path }}/mongos*.log {
    daily
    rotate 30
    compress
    delaycompress
    missingok
    notifempty
    sharedscripts
    create 640 {{ _mongos.user }} {{ _mongos.group }}
    postrotate
        /bin/kill -SIGUSR1 `cat /var/run/mongos.pid 2> /dev/null` 2> /dev/null || true
    endscript
}

